<h1>The Great Houses of Westeros</h1>

<%= link_to "Add a new house", new_house_path %>

<div class="house_list">
<% @houses.each do |house| %>
<article>

 <h2> <%= link_to "House #{house.name}", house_path(house) %></h2>

  <p> <img class="crests" src="<%= house.crest_url %>"></p>

</article>

<% end %>

</div>
