<!DOCTYPE html>
<html>
  <head>
    <title>GameOfThrones</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <a href="/"><img class="logo" src="http://cdn.pcwallart.com/images/game-of-thrones-logo-png-wallpaper-4.jpg"></a>

    <%= yield %>
  </body>
</html>
